@media screen and (min-width: 568px) {
    
    /* sidebar */
    .side-bar-container {
        flex-basis: 150px;
    }

    .big-logo{
        display: block;
        height: 3rem;
        padding-right: 2.5rem;
        padding-left: var(--spacer-1);
    }

    .small-logo{
        display: none;
    }

    .text-none{
        display: block;
        padding-left: .2rem;
    }
    
    .icon-list {
        height: 1.5rem;  
    }
    
    .item-list, .download-container a{
        justify-content: flex-start;
        align-items: center;
    }

    .playlist-menu{
        display: block;
    }

    .playlist-menu h3{
        padding-top: 1rem;
    }

    .icon-list,.download{
        flex-basis: 10%;
    }

    .download-container a{
        border-bottom: 1px solid var(--quinary-color);
        margin-bottom: var(--spacer-05);
        padding-left: var(--spacer-1);
    }

    .playlist-menu a,.playlist-menu h3,.menu a {
        padding-left: var(--spacer-1);
    }

    .fa-circle-user,.user{
        color: var(--quinary-color) ;
        font-weight: bold;
        font-size: 1rem;
        padding-left: var(--spacer-05);
    }
    .row.user{
        justify-content: flex-start;
    }
    /* main */
    .main-container {
        width: calc(100% - 150px);
    }
    .evidenced-bar-container{
        max-width: 350px;
    }
}

@media screen and (min-width: 768px) {
    .evidenced-bar-container{
        max-width: 500px;
    }

    [class^="col"]{
        width: calc(100% / 4);;
    }

    .heart-folder-container{
        flex-direction: row;
        padding-left: 3rem;
    }

    .progress-time-line-container{
        min-width: 40vh;
    }


}

@media screen and (min-width: 992px) {
    .evidenced-bar-container{
        max-width: 600px;
    }

    [class^="col"]{
        width: calc(100% / 6);;
    }

}