/***************************************************** 
General
********************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --h-bt-control: 50px;

    --primary-color: black;
    --secondary-color: #141922;
    --tertiary-color: #080b12;
    --quaternary-color: #282828;
    --quinary-color: #a5a3a1;

    --spacer-1: 1rem;
    --spacer-05: .5rem;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

html{
    font-size: 14px;
}

img{
    width: 100%;
    display: block;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    padding-bottom: var(--spacer-1);
}

h3{
    font-size: 1rem;
    padding-bottom: var(--spacer-05);
}

h4{
    font-size: .8rem;
    color: var(--quinary-color);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--quinary-color);
    display: block;
    padding: .3rem 0;
}

button{
    color: white;
    background-color: var(--secondary-color);
    border: 1px solid white;
    border-radius: 20px;
    padding: .5rem 1rem;
    font-size: 0.8rem
}

/***************************************************** 
Utilities
********************************************************/
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-6 {
    width: calc(100% / 6);
}

.row.sidebar-main {
    /* chiede se è giusto fare il calc?*/
    height: calc(100% - var(--h-bt-control));
}

/* **************************************************** 
SECTIONS
******************************************************* */

/*  ******* SIDE-BAR *******  */

.side-bar-container {
    flex-basis: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5rem 0;
    height: 100%;
}

.top-side-bar,.bottom-side-bar {
    flex-shrink: 0;
}

.middle-side-bar {
    flex-grow: 1;
    overflow: auto;
}

.small-logo {
    height: 2rem;
}

.icon-list{
    height: 2rem;
}

.big-logo,.text-none {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-list{
    justify-content: center ;
}

.plus-icon{
    background-color: var(--quinary-color);
    color: black;
    font-weight: bold;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.playlist-menu{
    display: none;
}

.bottom-bar-side{
    padding: var(--spacer-05);
}

.row.user{
    justify-content: center;
    align-items: center;
}

/* ******* MAIN ******* */
.main-container {
    width: calc(100% - 50px);
    background-color: var(--secondary-color);
    height: 100%;
    overflow: auto;
}

.p-container,.upgrade-nav,.title-evidence {
    padding: var(--spacer-1);
}

/* upgrade */
.upgrade-nav {
    text-align: end;
    background-color: var(--tertiary-color);
}

/* evidenced-bar-container */
.evidenced-bar-container{
    text-align: center;
    justify-content: space-around;
    color: var(--quinary-color);
    max-width: 100%;
    margin: auto;
}

/* albums */
[class^="col"]{
    padding: var(--spacer-05);
    text-align: center;
}

.cards-container{
    margin: 0 -.5rem;
}

.card img{
    padding-bottom: var(--spacer-05);
}

.radius img{
    border-radius: 50%;
}

/*  ******* BT-CONTROL *******  */
.button-control-container {
    /* da sottrarre all'altezza della .row.side-bar */
    height: var(--h-bt-control);
    justify-content: space-between;
    background-color: var(--quaternary-color);
    flex-shrink: 0;
    color: var(--quinary-color);   
}

.song-played-container img{
    height: 50px;
}


